@{
    ViewData["Title"] = "Browse";
}

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered ">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Gain</th>
        <th scope="col">Bass</th>
        <th scope="col">Middle</th>
        <th scope="col">Treble</th>
        <th scope="col">Reverb</th>
        <th scope="col">Volume</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sit</td>
        <td>Amet</td>
        <td>Consectetur</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Adipisicing</td>
        <td>Elit</td>
        <td>Sint</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Hic</td>
        <td>Fugiat</td>
        <td>Temporibus</td>
      </tr>
    </tbody>
  </table>
</div>