@model IndexViewModel

@{
    ViewData["Title"] = "ToneVault";
}

<div class="text-center text-white">
    <h1 class="display-4">Welcome To Tone Vault</h1>
    <p>Over @Model.Tones.Count Tones To Choose From</p>
</div>