@model IndexViewModel

@{
    ViewData["Title"] = "ToneVault";
}

<div class="container-fluid bg-dark-opacity">
    <div class="row">
        <div class="text-center text-white p-3 col-md-12">
            <img src="../img/Tone Vault Logo.png" alt="Tone Vault" class="img-fluid"/>
            <h1 class="display-4">Welcome To Tone Vault</h1>
            <h5>Over @Model.Tones.Count Tones To Choose From</h5>
        </div>
    </div>
</div>