@model IndexViewModel

@{
    ViewData["Title"] = "ToneVault";
}

<div class="container-fluid">
    <div class="row justify-content-center text-center p-3">
        <div class="text-white col-md-6">
            <img src="../img/Tone Vault Logo Red.png" alt="Tone Vault" class="img-fluid"/>
            <h1 class="display-4">Welcome To Tone Vault</h1>
            <h5>Over @Model.Tones.Count Tones To Choose From</h5>
        </div>
    </div>
</div>